body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.header-content {
    width: 100%;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 80px;
    height: 80px;
    border-radius: 0;
}

#meta-smile {
    font-size: 32px;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 10px;
    font-size: 48px;
    color: #000000;
}

.subtitle {
    font-size: 32px;
    color: #000000;
}

.sub-subtitle {
    font-size: 25px;
}

#video-container {
    text-align: center;
    margin-top: 20px;   
    position: relative;
}

#video {
    width: 1000px;
    height: 600px;  
    display: block;
    margin: 0 auto;
}

.video-warning {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    animation: fadeIn 1s ease-out;
    width: 980px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #FFAE6A;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(255, 174, 106, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 0;
    animation: fadeIn 1s ease-out; 
}

#cta-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(255, 174, 106, 0.9);
}

#content {
    max-width: 1000px;
    padding: 20px;
    margin: 20px;
}

.titulo{
    text-align: center;
}

.content-box {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.subtitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 22px; 
    margin-bottom: 30px;
}

#cta-button-bottom {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #FFAE6A;
    margin-bottom: 60px;
    box-shadow: 0px 0px 15px rgba(255, 174, 106, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 0;
    animation: fadeIn 1s ease-out; 
}

#cta-button-bottom:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(255, 174, 106, 0.9);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .video-warning{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .subtitle {
        font-size: 28px;
    }

    #video {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {

    #logo {
        width: 60px;
        height: 60px;
    }

    header {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .subtitle {
        font-size: 20px;
    }
}
